
.home-content .social-icons {
    margin-top: 1rem;
}

.home-content .social-icons a {
    box-shadow: none;
}

.home-content .ideals {
    margin: 3rem 0 5rem;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    border-top: 1px solid #E1E3E2;
    border-bottom: 1px solid #E1E3E2;
}

.home-content .ideals h2 {
    margin: 0 0.75rem 0 0;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    opacity: 60%;
    text-align: center;
}

.home-content .ideals blockquote {
    margin: 0.5rem 0 0;
    padding-left: 0;
    font-size: 1.1rem;
    font-style: italic;
    border-left-color: #D9D9D9;
    border-left: none;
}


@media (min-width: 640px) {
    .home-content .ideals {
        margin-top: 4rem;
        padding: 1.5rem 6rem 1rem 1.5rem;
    }

    .home-content .ideals h2 {
        margin: 0 1.5rem 0 0;
    }

    .home-content .ideals blockquote {
        margin: 0.5rem 0 0;
        padding-left: 0.5rem;
    }
}
