{{ $imgArg := .image }}

{{ $imgObject := cond (eq "string" (printf "%T" $imgArg)) (index .context.Page.Params.images $imgArg) $imgArg }}

{{ $alt := $imgObject.alt }}
{{ $img := .context.Page.Resources.GetMatch (printf "*%s" $imgObject.image) }}

{{ if $img }}
    {{ $imgJpg := $img.Resize (printf "%dx%d jpeg" $img.Width $img.Height) }}

    {{ $sizes := "(min-width: 640px) 200px, calc(50vw - 1rem)"}}

    <a href="{{ $img.RelPermalink }}" target="_blank">
        <figure class="page-image">
            <div class="inner-container">
                <picture style="display: inherit">
                    <source type="image/webp"
                            sizes="{{ $sizes }}"
                            srcset="{{ with $img.Filter (slice images.AutoOrient (images.Process "resize 150x webp mitchellNetravali q65")) }}{{.RelPermalink}} {{.Width}}w{{end}},
                    {{ with $img.Filter (slice images.AutoOrient (images.Process "resize 200x webp mitchellNetravali q65")) }}{{.RelPermalink}} {{.Width}}w{{end}},
                    {{ with $img.Filter (slice images.AutoOrient (images.Process "resize 300x webp mitchellNetravali q65")) }}{{.RelPermalink}} {{.Width}}w{{end}},
                    {{ with $img.Filter (slice images.AutoOrient (images.Process "resize 400x webp mitchellNetravali q65")) }}{{.RelPermalink}} {{.Width}}w{{end}}"
                    />
                    <img style="height: auto; width: auto"
                         srcset="{{ with $img.Filter (slice images.AutoOrient (images.Process "resize 200x mitchellNetravali q65")) }}{{.RelPermalink}} {{.Width}}w{{end}},
                    {{ with $img}}{{ .RelPermalink }} {{.Width}}w{{end}}"
                    sizes="{{ $sizes }}"
                    alt="{{ $alt }}"
                    title="{{ $alt }}"
                    src="{{ $imgJpg.RelPermalink }}"
                    width="{{ $img.Width }}"
                    height="{{ $img.Height }}"/>
                </picture>
                <div class="caption">{{ default $imgObject.alt $imgObject.caption }}</div>
            </div>
        </figure>
    </a>
{{ else }}
    {{ errorf "Missing image '%s'" $imgArg }}
{{ end }}
