{{ $imgArg := .Params.coverImage }}

{{ $imgObject := cond (eq "string" (printf "%T" $imgArg)) (index .Params.images $imgArg) $imgArg }}

{{ $alt := $imgObject.alt }}
{{ $img := .Resources.GetMatch (printf "*%s*" $imgObject.image) }}

{{ if $img }}
{{ $imgJpg := $img.Resize (printf "%dx%d jpeg" $img.Width $img.Height) }}

{{ $sizes := "(min-width: 640px) 200px, calc(50vw - 1rem)"}}

<div class="cover-image">
    <picture>
        <source type="image/webp"
                sizes="{{ $sizes }}"
                srcset="{{ with $img.Resize "150x webp CatmullRom" }}{{.RelPermalink}} {{.Width}}w{{end}},
        {{ with $img.Resize "200x webp CatmullRom" }}{{.RelPermalink}} {{.Width}}w{{end}},
        {{ with $img.Resize "300x webp CatmullRom" }}{{.RelPermalink}} {{.Width}}w{{end}},
        {{ with $img.Resize "400x webp CatmullRom" }}{{.RelPermalink}} {{.Width}}w{{end}}"
        />
        <img srcset="{{ with $img.Resize "200x CatmullRom" }}{{.RelPermalink}} {{.Width}}w{{end}},
        {{ with $img}}{{ .RelPermalink }} {{.Width}}w{{end}}"
        sizes="{{ $sizes }}"
        alt="{{ $alt }}"
        title="{{ $alt }}"
        src="{{ $imgJpg.RelPermalink }}"
        width="{{ $img.Width }}"
        height="{{ $img.Height }}"/>
    </picture>
</div>
{{ else }}
{{ warnf "Missing cover image for page '%s'" .Title }}
{{ end }}
