{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
</header>

{{- if .Content }}
<div class="post-content">{{ .Content }}</div>
{{- end }}

{{- $pages := .Pages }}

<ul class="generic-link-list product-review-list">
{{- range $pages }}
    <li>
        {{ partial "list-item-cover-image-thumbnail.html" . }}
        <a href="{{ .Permalink }}">
            {{ .Title }}
            {{ with .Params.subtitle }}<span class="subtitle">{{.}}</span>{{ end }}
        </a>
        {{ $intro := .Summary }}
        {{ if .Params.intro }}{{ $intro = .Params.intro }}{{ end }}
        {{ if .Params.Description }}{{ $intro = .Params.Description }}{{ end }}
        {{ with $intro }}<div class="intro">{{ . }}</div>{{ end }}
        {{- partial "custom_meta.html" . -}}
    </li>
{{- end }}
</ul>

{{- end }}
