---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <div class="post-meta">
      <p>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> 
        {% if page.date_mod %}(modified <time datetime="{{ page.date_mod | date_to_xmlschema }}" itemprop="dateModified">{{ page.date_mod | date: "%b %-d, %Y" }}</time>)
        {% else %}
        <meta itemprop="dateModified" content="{{ page.date | date_to_xmlschema}}" />
        {% endif %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.author_name }}</span></span></p>
      {% if page.categories != empty %}
      <p class="post-categories">
          <meta itemprop="keywords" content="{{ page.categories | join: ', '}}">
          Categories:
          {% comment %} TODO: category pages {% endcomment %}
          {% for category in page.categories %}
          {{category}}{% unless forloop.last %}, {% endunless %}
          {% endfor %}
      </p>
      {% endif %}
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | prepend: site.url | replace: "//", "/" }}'; // TODO: check if it's always cannonical
      this.page.identifier = '{{ page.path }}';
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//kravemir.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</article>
